<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/new-user.css">
  <script src="/static/js/new-user.js"></script>
  <title>Visualize</title>
  <style>
    .Yeon-Sung {
      font-family: 'Yeon Sung', cursive;
    }
  </style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark rounded" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample10">
        <ul class="navbar-nav">
          <li   style="margin-left:300px" class="nav-item text-center">
            <a class="nav-link" style="color:#f2f4d1;" href="{{url_for("About")}}">About</a>
          </li>
          <li  style="margin-left:340px;color:#f2f4d1;" class="nav-item active text-center ">
              <h1 style="color:#930077;" class="masthead-brand Yeon-Sung text-center">Rohit</h1>
          </li>
          <li  style="margin-left:400px;" class="nav-item text-center">
            <a  style="color:#f2f4d1;"class="nav-link" href="{{url_for("getting_started")}}">Users</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="py-5 text-center">
        <p class="lead">Add the details below and click Join Us and you will become an Existing User</p>
      </div>

      <div class="row">
        <div class="col-md-8">
          <form class="needs-validation" method="POST" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input maxlength=10 type="text" class="form-control" name="firstname" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input maxlength=10 type="text" class="form-control" name="lastname" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="address">Description</label>
                <input maxlength=50 type="text" class="form-control" name="description" id="address" placeholder="About your Work" required>
                <div class="invalid-feedback">
                  Description is required
                </div>
              </div>
            </div>
            <hr class="mb-4">

            <button class="btn btn-primary btn-lg btn-block" type="submit" Value="Send">Submit</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">Made by Rohit, for Rohit</p>
      </footer>
    </div>

  </body>
</html>
